<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joke Generator (node)</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Joke Generator</h1>
      <p><%= joke %></p>
      <button onclick="window.location.reload();">Get Another Joke</button>
    </div>
  </body>
</html>
